// Colors
$button-primary-color: rgb(5, 5, 58);
$button-secondary-color: rgb(16, 110, 110);
$player-primary-color: lightgreen;
$player-secondary-color: gold;

// Sizes
$player-size-desktop: 3em;
$player-size-mobile: 2em;

// Debugging
$debugging-border: 2px dotted red;
$debugging-border: none;




body {
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  position: absolute;
  width: 48em;
  left: 50%;
  transform: translate(-50%,0);
  border: $debugging-border;
}

h3 {
  font-size: 1em;
}

.courtContainer {
  position: relative;
  width: 37.5em;
  height: 37.5em;
}

.court {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  height:80%;
  border: 0.3em solid black;

  &__attack-line {
    height: 33%;
    border-bottom: 0.3em solid blue;
  }
}

.player {
  position: absolute;
  width: $player-size-desktop;
  height: $player-size-desktop;
  line-height: $player-size-desktop;
  background-color: $player-primary-color;
  border-radius: 50%;
  text-align: center;
  opacity: 0.8;
  border: 1px solid black;
  transform: translate(-50%, -50%);
  transition: 2s;

  &--libero {
    background-color: $player-secondary-color;
  }
}

.arrow {

  position: absolute;
  // transition: opacity 1s ease-in-out;
  // transition:all 0.3s ease;
  transition: 2s;
  // filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  filter: invert(38%) sepia(32%) saturate(1345%) hue-rotate(77deg) brightness(118%) contrast(110%);

  &--outside {
    left: 1%;
    top: 16%;
    width: 3em;
    transform: translate(-50%, -50%) rotate(38deg);
  }
  &--middle {
    left: 50%;
    top: 12%;
    width: 3em;
    transform: translate(-50%, -50%) rotate(24deg);
  }
  &--opposite-front {
    left: 90%;
    top: 15%;
    width: 3em;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  &--opposite-back {
    left: 90%;
    top: 42%;
    width: 4.5em;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  &--pipe {
    left: 43%;
    top: 47%;
    width: 5.5em;
    transform: translate(-50%, -50%) rotate(8deg);
  }
}

.controls {
  display: flex;
  flex-direction: column;
  border: $debugging-border;

  button {
    height: 3.2em;
    margin: 0.125em;
    background-color: $button-primary-color;
    color: white;
    text-align: left;
  
    border-radius: 0.5em;
    padding: 0 1em;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &.--indent {
      margin-left: 1.2em;
      background-color: $button-secondary-color;
    }
  }
}


// Mobile
@media (max-width: 768px) {
  #root {
    width: 100%;
  }

  .courtContainer {
    height: 25em;
  }

  .player {
    width: $player-size-mobile;
    height: $player-size-mobile;
    line-height: $player-size-mobile;
  }

  .controls {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    button {
      width: 100%;
      
      &.--indent {
        margin-left: 0;
        text-align: center;
        width: 25%;
      }
    }
  }

}